{% extends 'base/base.html' %}
{% load static %}

{% block title %}Groups{% endblock %}

{% block css %}
{% endblock%}


{% block content %}
        <h1 class="mx-auto pg-title">Groups</h1>
        <h2 class="mx-auto pg-sub-title">Enter your group</h2>
        <div class="mainSquare" >
            {% for group in user.group_set.all %}
                <a  class="btn btn-primary" href="{% url 'group' group_id=group.id %}">{{ group.name }}</a>
            {% endfor %}
        </div>
{% endblock %}
